.img_box img {
    max-width: 100%;
}

.slider_container .container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.card_slider {
    padding: 50px 0;
}

.main_image {
    position: relative; /* Add position relative */
    width: 600px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.main_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame-carousel {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    left: 0;
    right: 0;
    top:42.5%;
    text-align: center;
    color: #fffcfc !important;
    font-size: 26px;
    font-weight:900;
    padding: 10px;
    z-index: 1;
    height: 0; /* Use auto height */
}

th:nth-child(n+2) {
    position:relative;
    left:1rem!important;

}

/* background frames */

tr.sortable-item.bg-success-transparent {
    background-color: rgb(244 245 246 / 50%) !important; /* Blue */

}
tr.sortable-item.bg-primary-transparent{
    background-color: rgb(224 224 224 / 50%) !important; /* Green */

}
